/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-Nov-2018, 22:12:39
    Author     : oerte
*/

table.blueTable {
  font-family: 'Alegreya Sans', sans-serif;
  border: 3px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 65%;
  text-align: left;
  border-collapse: collapse;
  
}
table.blueTable td, table.blueTable th {
  border: 2px solid #AAAAAA;
  padding: 6px 6px;
}
table.blueTable tbody td {
  font-size: 13px;
}
table.blueTable tr:nth-child(even) {
  background: #D0E4F5;
}
table.blueTable td:nth-child(uneven) {
  background: #c9c9c9;
}
table.blueTable thead {
  background: #1C6EA4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}
table.blueTable thead th {
  font-size: 12px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: left;
  border-left: 2px solid #D0E4F5;
}
table.blueTable thead th:first-child {
  border-left: none;
}

table.blueTable tfoot td {
  font-size: 10px;
}
table.blueTable tfoot .links {
  text-align: right;
}
table.blueTable tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}




.search {
    position: relative;
    right: 10px; 
}

.drawingTop {
    height: 100%;
    width: 100%;
    display: flex;
    margin-top: 1%;
    
    justify-content: center;
    align-items: center;
}

.drawingSide {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 1%;
}

.drawing {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 1%;

}

.carportButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    text-align: center;
}

